@mixin break($point) {
  @if $point == ds {
    @media only screen and (min-width: 968px) { @content; }
  }
  @else if $point == md {
    @media only screen and (max-width: 967px) { @content; }
  }
  @else if $point == sm {
    @media only screen and (max-width: 767px)  { @content; }
  }
}

// Width Height 
@mixin wh($width: 12px, $height: 12px) {
  width: $width;
  height: $height
}

@mixin input() {
	background: $dark - rgb(13, 16, 22); //#080c11 8 12 17
    outline: none;
    border: none;
    border-radius: 3px;
    color: $white;
    margin-bottom: 22px;
}

// Colors 
$grey: #7f8388;
$orange: rgb(255, 116, 44);
$white: #f3f3f3;
$turq: #5dbab5;
$turq2: #7accc8;
$dark: #151c27;
$transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
$bb: 3px solid rgba(0,0,0,.2);
$br: 3px;

// Other
* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

a {
	text-decoration:none;
}

.clearfix:after {
	clear:both;
	content:" ";
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}

.btn {
	border: none;
	border-bottom: $bb;
	border-radius: 3px;
	height: 58px;
	text-align: center;
	color: $white;
	cursor: pointer;
	outline: none;
	&:hover {
		opacity: .8;
	    transition: $transition;
    }
}





@import "style.scss";


