* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.btn {
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  height: 58px;
  text-align: center;
  color: #f3f3f3;
  cursor: pointer;
  outline: none; }
  .btn:hover {
    opacity: .8;
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    -o-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1); }

body {
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f3f3f3; }

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }
  @media only screen and (min-width: 968px) {
    .container {
      width: 960px; } }

nav {
  background-color: #151c27;
  height: 78px; }
  nav .logo {
    float: left;
    margin-top: 33px; }
    @media only screen and (min-width: 968px) {
      nav .logo {
        margin-top: 28px; } }
    nav .logo img {
      height: 15px; }
      @media only screen and (min-width: 968px) {
        nav .logo img {
          height: auto; } }
  nav .btn-sign {
    background: #a3d39c;
    float: right;
    margin-top: 19px;
    padding: 13px 6px;
    height: 39px;
    font-size: 13px; }
    @media only screen and (min-width: 968px) {
      nav .btn-sign {
        margin-top: 16px;
        margin-right: 10px;
        padding: 15px 20px;
        height: 46px; } }
    nav .btn-sign a {
      color: #f3f3f3; }

input.checkbox-menu[type="checkbox"]:checked ~ div.nav-menu {
  opacity: 1;
  visibility: visible; }

input.checkbox-menu[type="checkbox"] {
  display: none;
  -webkit-appearance: none; }

@media only screen and (max-width: 967px) {
  .show-menu {
    cursor: pointer;
    display: block;
    text-align: center; }
    .show-menu .nav-icon {
      display: inline-block;
      height: 39px;
      width: 42px;
      padding: 11px;
      margin-top: 19px;
      background-color: #ff742c;
      color: #f3f3f3;
      position: relative;
      border-radius: 3px; }
      .show-menu .nav-icon:hover {
        opacity: .8;
        -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        -o-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1); }
      .show-menu .nav-icon span {
        height: 2px;
        width: 20px;
        background: #fff;
        display: block;
        position: absolute;
        top: 10px; }
      .show-menu .nav-icon span:nth-child(2) {
        top: 18px; }
      .show-menu .nav-icon span:last-child {
        top: 26px; }

  .nav-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -10px;
    margin-top: 17px;
    opacity: 0;
    vertical-align: middle;
    visibility: hidden;
    background-color: #151c27;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.06, 1);
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.06, 1);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.06, 1);
    z-index: 1000; }
    .nav-menu ul.nav-items {
      list-style: none;
      margin: 20px;
      padding: 0; }
    .nav-menu li a {
      color: #7f8388;
      display: block;
      padding: 11px; }
      .nav-menu li a.active {
        color: #f3f3f3; }
      .nav-menu li a:hover {
        color: #f3f3f3; } }
@media only screen and (min-width: 968px) {
  .nav-menu {
    font-size: 12px;
    padding-top: 29px; }
    .nav-menu ul {
      display: table;
      float: right; }
      .nav-menu ul li {
        display: table-cell;
        padding: 5px 25px;
        text-align: center; }
        .nav-menu ul li a {
          color: #7f8388; }
          .nav-menu ul li a.active {
            color: #f3f3f3; }
          .nav-menu ul li a:hover {
            color: #f3f3f3;
            -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
            -o-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
            transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1); } }
.main-section {
  background-color: #ff742c;
  height: auto;
  border-top: 9px solid #ee5c15;
  border-bottom: 31px solid #ff6b20; }
  .main-section form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 42px auto 0 auto; }
    @media only screen and (min-width: 968px) {
      .main-section form {
        display: table; } }
  .main-section .main-heading h1 {
    font-size: 1.75rem;
    text-align: center;
    color: #f3f3f3;
    margin: 30px;
    line-height: 1.3; }
    @media only screen and (min-width: 968px) {
      .main-section .main-heading h1 {
        font-size: 2.5rem; } }
  .main-section .slider {
    position: relative; }
    .main-section .slider .btn-slider {
      position: absolute;
      top: 48%;
      z-index: 999;
      cursor: pointer; }
      .main-section .slider .btn-slider.prev {
        padding: 10px 10px 2px 10px; }
      .main-section .slider .btn-slider.next {
        padding: 10px 10px 2px 10px;
        right: 0; }
      .main-section .slider .btn-slider.next:hover, .main-section .slider .btn-slider.prev:hover {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 10px 10px 6px 10px;
        border-radius: 3px;
        -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        -o-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        cursor: pointer; }
    .main-section .slider .slide img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; }

.list {
  display: inline-block;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2); }
  .list:first-child {
    z-index: 101;
    margin-bottom: 20px; }
    @media only screen and (min-width: 968px) {
      .list:first-child {
        margin-right: 20px; } }
  .list a {
    color: #7f8388;
    display: block;
    padding: 18px;
    font-size: 14px;
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    -o-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1); }
    .list a:hover {
      background-color: #7accc8;
      text-decoration: none; }
  .list ul {
    position: relative;
    display: inline-block; }
    .list ul li {
      display: inline-block;
      width: 300px; }
      .list ul li:hover > ul {
        display: inherit;
        background-color: #f3f3f3; }
    .list ul ul {
      display: none;
      position: absolute;
      border-radius: 0 0 3px 3px;
      top: 50px; }
      .list ul ul li {
        width: 300px;
        float: none;
        display: list-item;
        position: relative; }

.list > ul > li > a {
  border-radius: 3px;
  padding: 18px 0 18px 57px;
  font-size: 15px; }
  .list > ul > li > a:hover {
    border-radius: 3px 3px 0 0; }
  .list > ul > li > a.disk {
    background: url("../img/select_arrow_bottom.png") no-repeat 268px center, -webkit-linear-gradient(right, #7accc8 0, #7accc8 50px, transparent 50px), url("../img/disk_usage.png") no-repeat 20px 15px, #f3f3f3;
    background: url("../img/select_arrow_bottom.png") no-repeat 268px center, -o-linear-gradient(right, #7accc8 0, #7accc8 50px, transparent 50px), url("../img/disk_usage.png") no-repeat 20px 15px, #f3f3f3;
    background: url("../img/select_arrow_bottom.png") no-repeat 268px center, linear-gradient(to left, #7accc8 0, #7accc8 50px, transparent 50px), url("../img/disk_usage.png") no-repeat 20px 15px, #f3f3f3; }
  .list > ul > li > a.cloud {
    background: url("../img/select_arrow_bottom.png") no-repeat 268px center, -webkit-linear-gradient(right, #7accc8 0, #7accc8 50px, transparent 50px), url("../img/sky.png") no-repeat 20px 15px, #f3f3f3;
    background: url("../img/select_arrow_bottom.png") no-repeat 268px center, -o-linear-gradient(right, #7accc8 0, #7accc8 50px, transparent 50px), url("../img/sky.png") no-repeat 20px 15px, #f3f3f3;
    background: url("../img/select_arrow_bottom.png") no-repeat 268px center, linear-gradient(to left, #7accc8 0, #7accc8 50px, transparent 50px), url("../img/sky.png") no-repeat 20px 15px, #f3f3f3; }

.btn-main {
  display: block;
  width: 300px;
  background-color: #5dbab5;
  font-size: 20px;
  margin: 20px auto; }
  @media only screen and (min-width: 968px) {
    .btn-main {
      margin: 28px auto; } }

.description-section {
  height: auto;
  color: #f3f3f3; }
  .description-section .description-col-1 {
    float: none; }
    @media only screen and (min-width: 968px) {
      .description-section .description-col-1 {
        float: left; } }
  .description-section .description-col-2 {
    float: none; }
    @media only screen and (min-width: 968px) {
      .description-section .description-col-2 {
        float: right; } }
  .description-section .description-col-1,
  .description-section .description-col-2 {
    width: auto;
    margin: 52px 0 52px 0; }
    @media only screen and (min-width: 968px) {
      .description-section .description-col-1,
      .description-section .description-col-2 {
        width: 460px; } }
    .description-section .description-col-1 h2,
    .description-section .description-col-2 h2 {
      font-size: 1.56rem;
      color: #151c27;
      margin-bottom: 7px; }
    .description-section .description-col-1 p,
    .description-section .description-col-2 p {
      color: #959595;
      margin-bottom: 20px;
      font-size: 0.9rem;
      line-height: 1.8; }
      .description-section .description-col-1 p:first-of-type,
      .description-section .description-col-2 p:first-of-type {
        color: #ee5c15; }
      .description-section .description-col-1 p:last-of-type,
      .description-section .description-col-2 p:last-of-type {
        margin-bottom: 0; }

/*Slider Footer*/
.footer-slider-section {
  height: auto;
  padding-top: 30px;
  padding-bottom: 1px;
  background-color: #5dbab5; }
  @media only screen and (min-width: 968px) {
    .footer-slider-section {
      height: 617px;
      padding-top: 53px; } }
  .footer-slider-section .slide {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto; }
  .footer-slider-section .btn-slider-footer {
    font-size: 0;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px; }
    .footer-slider-section .btn-slider-footer li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      border-bottom: 1px solid #97d9d6;
      background: #1f6e6a;
      display: inline-block;
      margin: 0 6px; }
      .footer-slider-section .btn-slider-footer li a {
        cursor: pointer; }
      .footer-slider-section .btn-slider-footer li.active {
        background: #3e948f; }
      .footer-slider-section .btn-slider-footer li:hover {
        background: #97d9d6;
        cursor: pointer; }

.footer-section {
  height: auto;
  background-color: #151c27;
  padding: 25px 0; }
  @media only screen and (min-width: 968px) {
    .footer-section {
      height: 450px; } }
  @media only screen and (min-width: 968px) {
    .footer-section {
      padding-top: 68px; } }

.footer-col-1 {
  float: none;
  width: auto; }
  @media only screen and (min-width: 968px) {
    .footer-col-1 {
      float: left;
      width: 550px; } }
  .footer-col-1 .logo-footer {
    margin-bottom: 35px; }
    .footer-col-1 .logo-footer p {
      font-size: 12px;
      color: #4c5c74;
      padding-top: 10px; }
  .footer-col-1 input {
    background: #080c11;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #f3f3f3;
    margin-bottom: 22px;
    width: 100%;
    height: 75px;
    padding-left: 35px;
    font-size: 16px; }
    @media only screen and (min-width: 968px) {
      .footer-col-1 input {
        width: 540px;
        height: 75px; } }
    .footer-col-1 input::-webkit-input-placeholder {
      color: #f3f3f3; }
    .footer-col-1 input::-moz-placeholder {
      color: #f3f3f3; }

.footer-col-2 {
  float: none;
  position: relative; }
  @media only screen and (min-width: 968px) {
    .footer-col-2 {
      float: right; } }
  @media only screen and (max-width: 967px) {
    .footer-col-2 .social-group {
      text-align: center;
      margin-bottom: 20px; } }
  .footer-col-2 .social-group .rss {
    background: #ffaa16 url("../img/social_1_ico.png") no-repeat center; }
  .footer-col-2 .social-group .web {
    background: #ec5b95 url("../img/social_2_ico.png") no-repeat center; }
  .footer-col-2 .social-group .twitter {
    background: #00aeef url("../img/social_3_ico.png") no-repeat center; }
  .footer-col-2 .social-group .fb {
    background: #0054a6 url("../img/social_4_ico.png") no-repeat center; }
  .footer-col-2 .social-group a {
    width: 60px;
    height: 54px;
    display: inline-block;
    border-radius: 0px 0px 3px 3px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    margin-left: 20px; }
    .footer-col-2 .social-group a:hover {
      border-radius: 3px;
      opacity: .8;
      -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
      -o-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
      transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1); }
  .footer-col-2 textarea {
    background: #080c11;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #f3f3f3;
    margin-bottom: 22px;
    width: 100%;
    height: 172px;
    padding: 15px;
    font-size: 15px; }
    @media only screen and (min-width: 968px) {
      .footer-col-2 textarea {
        width: 380px;
        height: 172px; } }
    .footer-col-2 textarea::-webkit-input-placeholder {
      color: #f3f3f3; }
    .footer-col-2 textarea::-moz-placeholder {
      color: #f3f3f3; }
  .footer-col-2 .btn-footer {
    display: block;
    width: 300px;
    background-color: #5dbab5;
    margin: 0 auto;
    font-size: 20px; }
    @media only screen and (min-width: 968px) {
      .footer-col-2 .btn-footer {
        right: 0px;
        position: absolute; } }


