* {
  margin: 0;
  padding: 0;
  /*box-size:*/ }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

body {
  font-size: 13px;
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../img/bg.gif"); }

a {
  text-decoration: none; }

#global-wrap {
  width: 764px;
  background: #fff url("../img/header.jpg") no-repeat center top;
  margin: 0 auto;
  padding: 0 8px; }

.global-header {
  height: 264px;
  padding-top: 104px;
  padding-left: 56px; }

.global-header a,
.global-header p {
  color: #fff;
  font-style: italic;
  padding: 10px 0; }

.global-header a {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px; }

.global-menu {
  height: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 20px 15px 20px;
  background: -moz-linear-gradient(top, #00c612 0%, #00c612 48%, #00b100 51%, #00b100 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00c612 0%, #00c612 48%, #00b100 51%, #00b100 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00c612 0%, #00c612 48%, #00b100 51%, #00b100 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c612', endColorstr='#00b100',GradientType=0 ); }

.global-menu ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 11px 0; }

.global-menu li {
  display: table-cell;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700; }

.global-menu li a:hover {
  color: #795548; }

.content-left {
  float: left;
  width: 450px;
  padding: 0 22px 0 30px; }

.content-right {
  width: 241px;
  float: right;
  padding-right: 21px; }

.one-news-box p:first-of-type {
  margin-bottom: 10px; }

.one-news-box {
  padding-bottom: 25px; }
  .one-news-box h1 {
    color: #00b200;
    padding-bottom: 10px;
    padding-top: 5px; }
  .one-news-box h2 {
    color: #00b200; }
  .one-news-box p:first-of-type {
    margin-bottom: 10px; }

.one-news-box .footer-one-news-box ul {
  display: inline-block; }
  .one-news-box .footer-one-news-box ul a {
    color: #006eff;
    text-decoration: underline; }

.one-news-box .footer-one-news-box ul li:not(:first-child):before {
  content: "|";
  display: inline;
  padding: 0 5px; }

.one-news-box .footer-one-news-box ul li {
  display: inline-block; }

.header-right {
  height: 40px;
  margin-bottom: 15px;
  background: url("../img/bg.gif") repeat; }

.header-right h3 {
  padding: 10px 15px;
  color: #fff;
  font-size: 18px; }

.right-block {
  margin-bottom: 20px; }
  .right-block ul {
    list-style-type: none;
    margin-left: 10px; }
    .right-block ul li {
      padding-bottom: 5px; }
      .right-block ul li a {
        color: #00b200; }
        .right-block ul li a > span {
          font-style: italic; }
      .right-block ul li > a:before {
        content: url("../img/square.png"); }
      .right-block ul li > div {
        font-weight: 700;
        font-size: 14px; }

footer {
  height: 45px;
  border-top: 4px solid #006eff;
  margin: 0 -8px;
  padding-top: 27px;
  font-size: 11px;
  background: #ffffff;
  /* Old browsers */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.29, #61c419), to(#209613));
  background: -webkit-linear-gradient(#ffffff 0%, #61c419 29%, #209613 100%);
  background: -moz-linear-gradient(#ffffff 0%, #61c419 29%, #209613 100%);
  background: -o-linear-gradient(#ffffff 0%, #61c419 29%, #209613 100%);
  background: linear-gradient(#ffffff 0%, #61c419 29%, #209613 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#209613', GradientType=0); }
  footer div {
    color: #fff;
    text-align: center; }
