* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

a {
	text-decoration:none;
}

body {
	font: 12px/1.3 "Helvetica Neue",Arial,sans-serif;
	background-color: #fff; 
}

nav,
h3,
h4,
h5,
.button {
	font-family: 'bebas', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
		word-spacing: 5px;


}
h3, h4, h5 {
	color: $orange;
}

.flex-container {
	margin:0 auto;
	max-width: 960px;
	padding-left: 10px;
	padding-right: 10px;	
	display: flex;
	justify-content: space-around;
    flex-direction: row;

	&.wrap {
		flex-wrap: wrap;
	}
}
@include break(ds){
	.flex-container {
		justify-content: space-between;
	}
}

// Nav Logo
nav {
	
	.flex-container {
		justify-content: space-between;
		align-items: center;
		height:80px;
	}
	.logo {
		@include flex(0, center);
	    .logo1 {
			font-size:  36px;
			color: $orange;
		}
		.logo2 {
			font-size:  36px;
			color: $orange-l; //f3af9d
		}
	}
}


// Nav Menu Desktop
@include break(md){
	.nav-menu {
		@include flex(0, center);
	    ul {
			display:table;
			li {
				display:table-cell;
				font-size:  16px;
				padding-left: 25px;
				a {
					color: $grey;
					&.active {
						color: $orange;
					}
					&:hover {
						color: $orange-l;
						transition: $transition;
					}
				}
			}
		}	
	}
}

// Nav Menu Mobile
input.checkbox-menu[type="checkbox"] {
	display: none;
	-webkit-appearance: none; }

input.checkbox-menu[type="checkbox"]:checked ~ div.nav-menu {
	opacity: 1;
	visibility: visible; }
@include break(sm){
	.show-menu {
		cursor: pointer;
		display: block;
		text-align: center;
		.nav-icon {
	        height: 37px;
			width: 39px;
		    padding: 10px;
		    background-color: $orange;
		    color: white;
		    position: relative;
		    span {
				height: 2px;
			    width: 20px;
			    background: $white;
			    display: block;
			    position: absolute;
			    top: 10px;
			    &:nth-child(2) {
					top:18px;
				}
				&:last-child {
					top:26px;
				}
			}
		}
	}
	.nav-menu {
		@include flex(0, flex-start);
		position: absolute;
		margin: 78px -10px 0 -10px;
		text-align: center;
	    width: 100%;
		opacity: 0;
		visibility: hidden;
		background-color: $white;
		transition: $transition;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin-bottom: 20px;
				a {
				color: $grey;
				display: block;
				font-size: 16px;
				&.active {
					color: $orange;
				}
				&:hover {
					color: $grey-d;
					}
				}
			}
		}
	}
}


// Baner section
.banner-section {
	.flex-container {
		align-items: flex-start;
	    margin-bottom: 20px;
	    img{
		    max-width: 100%;
		    height: auto;
		    display: block
		}
	}
}

// Main Section
.main-section {
	margin-bottom: 15px;
	.flex-item-main {
		width: 300px;	
		margin-bottom: 35px;
		.main-img {
			display: flex;
		    justify-content: space-between;
		    margin-bottom: 43px;
		}
		.main-column {
			.icon {
				background: url(../img/sprite-1.png) 0 0px;
				width: 49px;
				height: 46px;
				float: left;
				margin-right: 23px;
				&.circle{
					background-position: 0px 0px;
				}
				&.check{
					background-position: -51px 0px;
				}
				&.follow{
					background-position: -100px 0px;
				}	
			}
		
			h3 {
				font-size: 18px;
				margin-bottom: 39px;	
			}
			p {
				font-size: 12px;
				line-height: 1.5;
				color: $grey-d;
				margin-bottom: 20px;
			}
			a.button {
				padding: 8px 14px;
				background-color: $orange;
				color: $white;
				font-size: 12px;
				outline: none;
				border: none;
				cursor: pointer;
				&:hover {
					background-color: $orange-l;
					transition: $transition;
				}
			}
		}
	}
}


//Resent section - line
.recent-line {
	@include flex();
	margin-right: 20px;
	margin-bottom: 25px;
    h3 {
	    font-size: 18px;
    }
}
.line{
	@include flex(1,flex-start);
	height: 18px;
	margin-top: 2px;
	background: url(../img/title-bg.png) repeat-x;
}
//Resent section - block
.recent {
	margin-bottom: 25px;
	.recent-block {
		width: 220px;
		margin-bottom: 20px;
		img {
			margin-bottom: -4px;
		}
		.design {
			border: 1px solid $grey;
			border-top: none;
			padding-left: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			h4 {
				font-size: 16px;
				word-spacing: 3px;
				margin-bottom: 3px;
				a {
					color: $grey;
					&:hover {
						color: $grey-d;
						transition: $transition;
					}
				}
			}
			h5 {
				font-size: 11px;
				word-spacing: 1px;
			}
		}
	}

}

//Footer
footer {
	background-color: $orange-l;
	.flex-container {
		align-items: flex-start;
		padding: 35px 35px 0 35px;
		border-left: 10px solid $white;
		border-right: 10px solid $white;
		background-color: $orange;
	}
}

.footer-block {
	@include flex();
	width: 250px;
	margin-bottom: 35px;
	color: $white;
	h3 {
		color: $white;
		font-size: 18px;
		margin-bottom: 25px;
	}
	.normal,
	.twi-date {
		margin-bottom: 17px;
	}
	.twi-date {
		margin-top: 7px;
		color: $orange-l;
	}
	.normal a {
		color: $white;
	}
	.twitter {
		a {
		color: $orange-l;
		}
	}

	.social{
		background: url(../img/sprite-2.png) 0 0px;
		width: 32px;
		height: 31px;
		float: left;
		margin-right: 5px;
		&.fb{
			background-position: 0px 0px;
		}
		&.twi{
			background-position: -31px 0px;
		}
		&.email{
			background-position: -62px 0px;
		}
		&.rss{
			background-position: -94px 0px;
		}
		&.vim{
			background-position: -125px 0px;
		}
		a {
			display:  block;
			width:  100%;
			height: 100%;
		}	
	}
}
